<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../vizia_core/views/trait.ToggleButtonModifiers.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../vizia_core/views/trait.ToggleButtonModifiers.html">../../../vizia_core/views/trait.ToggleButtonModifiers.html</a>...</p>
    <script>location.replace("../../../vizia_core/views/trait.ToggleButtonModifiers.html" + location.search + location.hash);</script>
</body>
</html>